@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body header {
  width: 100%;
  background: url("https://res.cloudinary.com/dwpwl6img/image/upload/v1586980638/joanna-kosinska-1_CMoFsPfso-unsplash.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body header nav {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
}

body header nav .logo {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}

body header nav .hamburger {
  background-color: transparent;
  border: 0;
  display: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

body header nav .hamburger:focus {
  outline: none;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

body header nav ul li {
  list-style: none;
}

body header nav ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  font-size: 1rem;
  margin: 0 5px;
  border-radius: 8px;
}

body header nav ul li a:hover {
  background-color: #fff;
}

body header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .hero .info {
  padding: 20px 0;
  margin: o auto;
  color: #0a0103;
}

body header .hero .info .info-details {
  padding-left: 50px;
}

body header .hero .info h1 {
  font-weight: 400;
}

body header .hero .info .bio h3 {
  padding: 10px;
}

body header .hero .info .bio ul span {
  font-weight: bold;
}

body header .hero .info .bio ul li {
  list-style: none;
  padding: 10px 0;
}

body header .hero .hero-img {
  width: 330px;
  height: 330px;
}

body header .hero .hero-img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

body main .about {
  padding: 20px 0;
}

body main .about .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;
}

body main .about .details p {
  display: block;
  padding: 10px;
}

body footer {
  color: #fff;
  background: url("https://res.cloudinary.com/dwpwl6img/image/upload/v1586980640/anas-alshanti-feXpdV001o4-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  padding-top: 40px;
}

body footer .contact .social-media {
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body footer .contact .social-media p {
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}

body footer .contact .social-media a {
  color: #f8f4f4;
  padding: 10px;
}

body footer .contact .social-media a:hover {
  color: greenyellow;
}

body footer .contact .form-section {
  color: #fff;
}

body footer .contact .form-section .p {
  color: #ebeaf0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 25px;
}

body footer .contact .form-section .p p {
  font-size: 1.2rem;
}

body footer .contact .form-section .form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .contact .form-section .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

body footer .contact .form-section .form form .form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
}

body footer .contact .form-section .form form .form-items label {
  padding-bottom: 5px;
}

body footer .contact .form-section .form form .form-items input {
  height: 35px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 20px;
}

body footer .contact .form-section .form form .form-items textarea {
  border-radius: 5px;
  border: none;
  outline: none;
  padding-top: 10px;
  padding-left: 20px;
  height: 4rem;
}

body footer .contact .form-section .form form .form-items button {
  margin-top: 5px;
  padding: 10px;
  font-size: 1.1rem;
  background: none;
  color: #fff;
  outline: none;
  border-radius: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
}

body footer .contact .form-section .form form .form-items button:hover {
  background-color: greenyellow;
  color: white;
}

@media screen and (max-width: 767px) {
  header .logo {
    padding-right: 60%;
  }
  header nav {
    display: inline-block;
  }
  header nav .nav-ul {
    display: none;
    width: 100%;
  }
  header nav .nav-ul.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #hamburger {
    display: block;
  }
}
